.header {
    display: flex;
    align-items: center;
    padding: 8px;
    border: 1px solid lightgray;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
    box-sizing: border-box;

}

.header__left {
    display: flex;
    flex: 0.2;
    justify-content: space-between;
}

.header__logo {
    height: 40px;
    object-fit: contain;
    margin-right: 10px;
    cursor: pointer;
}

.header__input {
    display: flex;
    border-radius: 30px;
    background-color: #f0f2f5;
    align-items: center;
    padding: 6px;
}

.header__input>input {
    border: none;
    font-size: 15px;
    outline-width: 0;
}

.header__center {
    display: flex;
    flex: 0.6;
    justify-content: space-evenly;
}

.header__option {
    padding: 3px 40px;
    display: flex;
    align-items: center;
}

.header__option>.Icon-root {
    color: gray;
}

.header__option:hover {
    background-color: #f0f2f5;
    cursor: pointer;
    border-radius: 10px;
    border-bottom: none;
    padding: 5px 40px;
}

.header__right {
    display: flex;
    flex: 0.2
}

.header__info {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__rightIcon {
    color: black
}

.icon__Active {
    border-bottom: 4px solid #2e81f4;
}