.story {
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    width: 120px;
    height: 200px;
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;

}